* {
  box-sizing: border-box;
  margin: 20px;
}

body {
  background-color: rgb(217, 214, 214);
}

article {
  border-radius: 12px;
  background-color: white;
}

img {
  border-radius: 12px;
}

button {
  color: blue;
  border-style: none;
  margin-left: 0;
  box: 0;
  background-color: white;
}
